@page "/counter"

<PageTitle>Counter</PageTitle>

@using Models
@using Territorios.Data

@inject TerritoryService TerritoryService

<h1>Asignación de territorios</h1>

<TerritoriesContainer Territories="territories" OnAssignedToUpdated="HandleStatusUpdated">
    @foreach (var captain in captains)
    {
        <TerritoryList CaptainName="@(captain.Name)" />
    }
</TerritoriesContainer>

<hr />
<p>El último territorio asignado fue: <strong>@lastUpdatedTerritory</strong></p>
<hr />

@foreach (var territory in territories)
{
    <p>@territory.Name - <strong>@territory.AssignedTo</strong></p>
}

@code {
    Captain[] captains;
    Territory[] territories;
    string lastUpdatedTerritory = "";

    protected override void OnInitialized()
    {
        captains = TerritoryService.GetCaptains();
        territories = TerritoryService.GetTerritories();
    }

    void HandleStatusUpdated(Territory territory)
    {
        lastUpdatedTerritory = territory.Name;
        territories = TerritoryService.GetTerritories();
    }
}
